Connected Services/CourtServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourtService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourtService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="TotalPartCost" type="xs:double" />
      <xs:element minOccurs="0" name="TotalServicesCost" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceContract" nillable="true" type="tns:ServiceContract" />
</xs:schema>